.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 2%;
}

.islandLayout {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.cogniAid {
  font-size: xx-large;
  font-weight: 400;
  color: #1a1a1a;
  text-decoration: none;
  border: 1px solid #597594;
  border-radius: 5px;
  padding: 6px;
}

.title {
  font-size: xxx-large;
  font-weight: 400;
  color: #1a1a1a;
  
}
.description {
  font-size: x-large;
  font-weight: 400;
  color: #1a1a1a;
}