.bgStyle {
  width: 95vw;
  height: 95vh;
  padding: 1%; 
  justify-content: center;
}

.headline {
  font-size: xxx-large;
  font-weight: 400;
  color: #1a1a1a;
  text-align: center;
}

.description {
  font-size: xx-large;
  font-weight: semi-bold;
  color: #1a1a1a;
  text-align: center;
  margin-top: 2%;
}

.inputColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
}