.layout {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30%;
  padding: 1%;
  background-color: #d3da9b;
  border-radius: 15px;
}

.headline {
  font-size: xx-large;
  font-weight: bold;
  color: #1a1a1a;
  text-decoration: none;
  border: 1px solid #597594;
  border-radius: 5px;
  padding: 6px;
}