.layout {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30%;
  padding: 1%;
  background-color: #97d4ab;
  border-radius: 15px;
  align-items: center;
}

.headline {
  font-size: xx-large;
  font-weight: semi-bold;
  color: #1a1a1a;
  text-decoration: none;
  padding: 6px;
}

.description {
  font-size: x-large;
  font-weight: 400;
  color: #1a1a1a;
  text-align: center;
  margin-top: 2%;
}

.opinionCard {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  padding: 2%;
  margin-top: 2%;
  background-color: #d5e9db;
  border-radius: 15px;
  font-size: x-large;
}

.opinionCardText {
  font-size: large;
  font-weight: 400;
  color: #1a1a1a;
  text-align: center;
  margin-top: 2%;
}
