.bgPreset{
  height: 100svh;
  width: 100svw;
  min-width: 100%;
  min-height: 100%;
  background-image: url(../../assets/images/wallpaper.jpeg);
  background-size: cover;
  
}

.logo{
  font-family: Philosopher;
  font-weight: 300;
  font-size: xxx-large;
  padding-left: 50px;
  padding-top: 50px;
  color: #363636;
}